body {
    background-repeat: no-repeat;
    background-size: cover;
}

#dinosaur {
    width: 5%;
    height: 5%;
    position: absolute;
    left: 5%;
    top: 66%;
}

#dino {
    height: 350%;
}